.edit-btn, .delete-btn{
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    margin: 0 0.15rem;

}

.edit-btn{
    color: hsl(124, 71%, 66%);
}

.delete-btn{
    color: hsl(360, 71%, 66%);
}

.edit-btn:hover{
    color: hsl(125, 77%, 44%);
}

.delete-btn:hover{
    color: hsl(360, 90%, 66%);
}

.clear-btn{
    text-transform: capitalize;
    width: 10rem;
    height: 1.5rem;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    color: hsl(360, 71%, 66%);
    font-size: 0.85rem;
    display: grid;
    margin: 0 auto;
    letter-spacing: 0.25rem;
    margin-top: 1.25rem;
}

.grocery-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 0.25rem 1rem;
    border-radius: 0.25rem;
    text-transform: capitalize;
}

.grocery-item:hover{
    color: hsl(210, 69%, 49%);
    background-color: hsl(210, 36%, 96%);
}

.title{
    margin-bottom: 0;
    letter-spacing: 2px;
}

.section-center {
    width:90vw;
    margin: 0 auto;
    max-width: 35rem;
    margin-top: 8rem;
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    transition: all 0.3s linear;
}


.section-center:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.grocery-form h3{
    text-align: center;
    text-transform: capitalize;
    background-color: hsl(205, 86%,17%);
    margin-bottom: 0.15rem;
    letter-spacing: 0.5rem;
}
.form-control{
    display:flex;
    justify-content: center;
}

#grocery {
    padding: 0.25rem;
    padding-left: Irem;
    background-color:hsl(210, 36%, 96%);
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    border-color: transparent;
    font-size: 1rem;
    flex: 1 0 auto;
    color: hs1(210, 22%, 49%);
}


#grocery::placeholder {
    color: hsl(210, 80%, 80%);
}

.submit-bth {
    background-color: hsl(205, 86%,81%);
    background-color: transparent;
    flex: 0 0 5rem;
    align-items: center;
    text-transform: capitalize;
    letter-spacing: 2px;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    cursor:pointer;
    font-size: 0.85rem;
    transition: all 0.5s liner;
}

.submit-btn:hover{
    background-color: hsl(205, 63%, 48%);
    color: white;

}

.grocery-container {
    margin-top: 2rem;
}